.main{
    position: relative;
    background: linear-gradient(to right,#f4937b, #80aa4f);
    display: flex;
    justify-content: center;
    align-items: center;
}



.road{
    width: 100%;
    height: calc(100vh + 478px);
    background-image: url("/src/img/road.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 300px;
    opacity: .9;
}

@media (max-width: 1160px) {
    .road{
        height: 100vw;
        background-image: url("/src/img/road.png");
        background-repeat: repeat-y;
        background-position: center;
        background-size: 200px;
    }
}
@media (max-width: 1024px) {

}
@media (max-width: 768px) {
    .road{
        height: 100vw;
        background-image: url("/src/img/road.png");
        background-repeat: repeat-y;
        background-position: center;
        background-size: 150px;
    }
}
@media (max-width: 480px) {
    .road{
        height: 100vw;
        background-image: url("/src/img/road.png");
        background-repeat: repeat-y;
        background-position: center;
        background-size: 100px;
    }
}